*{
    cursor: url(./img/cursorpatinha.png) 16 16, auto;
}

html{
    background-color: beige;
    padding: 0%;
    border: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    text-align: center;
    background-color: crimson;
    color: white;
    font-family: fantasy;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1%;
}
footer{
    padding: 3%;
    text-align: center;
    margin-top: auto;
    background-color: crimson;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    margin-bottom: auto;

}
a:hover{
    color: blue;
    cursor: url(./img/pointerpatinha.png), auto;
}
section{
    text-align: center;
    padding: 2%;
}
#dogimage{
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#titulo{
    background-color: crimson;
    padding: 1px;
}
p a {
    color: crimson;
    text-decoration: none;
}
#aviso{
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(78, 78, 78);
    font-style: italic;
    padding: 2%;
    width: 90%;
    margin: auto;
    padding: auto;
}
#thisdog{
    display: block;
    margin: 1% auto;
    margin-bottom: 0%;
    width: 20vw;
    height: auto;
}
h1{
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.outrosite a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5% 1%;
}
.outrosite a:hover{
    color: blue
}
section p{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: xx-large;
}
h2{
   color: crimson;
   font-family: fantasy;
   font-size: xx-large; 
}